---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout
	title='Welcome to Astro.'
	description='something description'
>
	<div class='h-full w-full bg-black'>test</div>
</Layout>
